<div id="container1">
	<div id="text"></div><div id="cursor"></div>
</div>
   <footer class="text-center text-white" style="background-color: black">
      <div class="container">
        <section class="mt-5">
          <div class="row text-center d-flex justify-content-center pt-5">
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="/" class="text-white footer-links">Home</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="/about" class="text-white footer-links">About</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="/contact" class="text-white footer-links">Contact</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="/blog" class="text-white footer-links">Blog</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="/shop" class="text-white footer-links">Shop</a>
              </h6>
            </div>
          </div>
        </section>
        <hr class="my-5 hline" />
        <section class="mb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
               <h4>Hi, I’m Puneet. Welcome to Puneet Malhotra <span id="vlogs">Vlogs</span></h4> 
              <p style="margin-top: 20px;">
                I’m originally from devbhoomi Uttrakhand,Dehradun. I’m a crazy dreamer and with an insatiable desire for travel and adventure who could never settle for an ordinary life or conform with the norm.
              </p>
            </div>
          </div>
        </section>
        <div class="social_links">
            <a href="https://www.instagram.com/puneet_malhotra_vlogs/" target="_blank">
                <span class="fa-stack fa-lg ig combo">
                    <i class="fa fa-circle fa-stack-2x circle"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse icon"></i>
                  </span>
            </a>
            <a href="https://www.facebook.com/puneet.malhotra.735507" target="_blank">
                <span class="fa-stack fa-lg fb combo">
                    <i class="fa fa-circle fa-stack-2x circle"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse icon"></i>
                  </span>
            </a>
            <a href="https://www.youtube.com/channel/UCkPBWDYZYo1adhOObVcyqbQ" target="_blank">
                <span class="fa-stack fa-lg yt combo">
                    <i class="fa fa-circle fa-stack-2x circle"></i>
                    <i class="fab fa-youtube fa-stack-1x fa-inverse icon"></i>
                </span>
            </a>
            <a href="#" target="_blank">
                <span class="fa-stack fa-lg tw combo">
                    <i class="fa fa-circle fa-stack-2x circle"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse icon"></i>
                </span>
            </a>
            <a href="tomail: puneetmalhotra@gmail.com" target="_blank">
                <span class="fa-stack fa-lg gm combo">
                    <i class="fa fa-circle fa-stack-2x circle"></i>
                    <i class="fas fa-envelope fa-stack-1x fa-inverse icon"></i>
                </span>
            </a>
        </div>
      </div>
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2021 Copyright:
        <a class="text-white" href="/">Puneet Malhotra Vlogs</a>
      </div>
    </footer>
    <script src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>