<%-include("partials/header")-%>
<div class="row">
   <div class="col">
      <div class="row">
         <div class="col about1-image"></div>
         <div class="col">
            <div class="container aboutme-text">
               <p>Hello Everyone welcome to my world myself Puneet Malhotra from devbhoomi Uttarakhand and I follow three basic rules TRAVEL-EAT-RELAX-TRAVEl. I was always passionate about travelling and exploring from my school days, we use to go to Mussorie every Sunday just for the vibes and for the Maggie, in school I was an introvert in front of teachers and a socialite among my friend circle. During my early days I use to follow many YouTubers and one of them inspired me to start a Youtube channel and do something that I enjoy and adore and my passion for biking and vlogging started from there.</p>
               <p>But due to the lack of gadgets and guidance I was little nervous but starting from basics I started vlogging with my phone start exploring my own city Dehradun, but the introvert inside me was nervous and think that people will laugh. That time I was not much regular for posting content i usually upload vlogs once in a month or maybe one in six month at that time, but after one year when pandemic started I started exploring my own city, the journey of regular and fresh content started from there and now I can proudly say that mountains, waterfall, rivers are the things which have become a part of my life, I am just following my passion and i don't know about the future but i am enjoying my present and that is the thing which matters alot to me.</p>  
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col">
      <div class="row">
         <div class="col">
            <div class="container travel-partners">
              <h1>MY TRAVEL PARTNERS</h1>
              <div class="travelpartnercontainer">
              <div class="row">
                 <div class="col">
                  <i class="fas fa-camera"></i>
                  <span>Main Camera - Sony Alpha 5100</span>
                 </div>
              </div>
             <div class="row">
                <div class="col">
                  <i class="fas fa-camera-retro"></i>
                  <span>Action Camera - Gopro Hero 6</span>
                </div>
             </div>
            <div class="row">
               <div class="col">
                  <i class="fas fa-paint-brush"></i>
                  <span>Editing Software - Preimere Pro</span>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <i class="fas fa-motorcycle"></i>
                  <span>Bike - Hero Xpulse</span>
               </div>
            </div>
            </div>
            </div>
         </div>
         <div class="col about2-image"></div>
      </div>
   </div>
</div>

<%-include("partials/footer")-%>