<%-include("partials/header")-%>
<div class="container blog-container">
  <div class="row blog-conatiner">
      <div class="col">
        <div class="card" style="width: 100%; height: 500px;">
          <img src="https://images.unsplash.com/photo-1514930228629-e8a7034abd17?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJlbSUyMG1hbmRpcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mathura And Vrindavan Journey</h5>
            <p class="card-text">Enjoy our journey of Mathura and Vrindavan with some exciting stories.</p>
            <a href="/mathura-vrindavan" class="btn readmore_button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 100%; height: 500px;">
        <img src="https://images.unsplash.com/photo-1511737207395-5b1ff1f86e54?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZGFuZ2VyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Visiting Restricted Waterfall</h5>
          <p class="card-text">We visited the restricted huge waterfall in Dehradun in a Dense Forest.</p>
          <a href="/restricted-waterfall" class="btn readmore_button">Read More</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div> 
<%-include("partials/footer")-%>
