<%-include("partials/header")-%>
<div class="contactform">
       <h1>
           CONTACT US
       </h1> 
       <form action="/contact" method="POST">      
        <input name="name" type="text" class="feedback-input" placeholder="Name" />   
        <input name="email" type="text" class="feedback-input" placeholder="Email" />
        <textarea name="text" class="feedback-input" placeholder="Message/Review"></textarea>
        <input type="submit" value="SUBMIT"/>
      </form>
</div>

 <%-include("partials/footer")-%>

    