<%-include("partials/header")-%>
<div class="container">
    <div class="coming-soon">
        <h1>
            Stay Connected we are Coming Soon
        </h1>
    </div>
</div>
<%-include("partials/footer")-%>
