<%-include("partials/header")-%>
<div class="container content-container">
   <div class="row">
    <p> 
    Hello! Fellow Travellers, Namaste! Bonjour! Vanakkam! I am super-excited today to share with you an exciting post.
    This one is very special for you, as today you are going to hear my unforgettable account of Mathura Vrindavan Tour from Dehradun
    This post will help you plan your Mathura-Vrindavan tour better, as you will come to know what to expect from the tour.
    Let’s begin without any further ado.
    </p>
    <h4>
    How Mathura-Vrindavan trip happened
    </h4>
    <p>
    I was thinking to plan a trip for some holy place and than suddenly it strikes in my mind
    of Mathura-Vrindavan tour so me and my freinds planned and at next day we gathered and booked 
    a Cab and this how our journey starts to this wondeful place. So we depart from Dehardun at
    morning 5:00 and it took around 7-8 hrs to reach our destination at 1:00 pm.
    </p>
    <h4>
        DO CHECKOUT OUR VLOG ON THIS TRIP
    </h4>
    <div class="row">
        <div class="col">
            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/tAlJP7BvtAU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col">
            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/gYm-tIgDsKw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col">
            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/UScnzM1bdA0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
            <h4>
                BANKE BIHARI JI TEMPLE
            </h4>
            <p>  
            When we reached Vrindavan , we parked our cars into a house parking.
            Basically the people who have large spaces in their houses have turned 
            there huge balconies into car parking. Then we walked trough the tight 
            streets and reached the Banke Bihari Ji Temple.The image of Bihariji 
            installed in the Shri Banke Bihari Mandir, is the one granted to Swami 
            Haridas by the couple Shyama-Shyam themselves. Submitting to the desire 
            of devotees The Lord appeared in person with his divine consort and left 
            back a black charming image before disappering.His way of Sadhna was to 
            compose and sing songs in the praise of Lord.His disciples were curious 
            about this place and one day with permission of Swamiji, they all entered 
            the kunj. But instead of seeing anything they were almost blinded by 
            bright, intense light, which seemed to fill the whole place.Then Swamiji 
            himself went there, and then after his requests, lord appeared in person 
            with his divine consort, pleasantly smiling.
            </p>
            <h4>INSIDE VIEW OF THE TEMPLE</h4>
            <p>
            After visiting the Banke Bihari Ji Temple , we went in the Vrindavan Market.
            As it was a quite bright and sunny day , we went into a Lassi Shop. 
            He served us Lassi in a Kulhad ( a cup made by mud ).It really cooled 
            us and its flavour was really very tasty and delicious. Then we went into 
            a shop to have breakfast. Then again got into our cars as our next destination 
            was Iskon Temple.
            </p> 
            <h4>ISKCON TEMPLE</h4>
            <p>
            Srila Prabhupada founded the International Society for Krishna Consciousness 
            in New York in 1966. He was the founder of Iskcon Temple. This temple is very 
            beautiful made with white marble and very clean not even a single point of dust.
            Photography is not allowed there inside. But we know some officials there as we 
            are regular donaters in Iskcon Temple. So we clicked some pics with their 
            permission.The Murtis were really looking very beautiful. Some more pics to depict 
            the beauty.
            </p>
            <img src="https://cdn.s3waas.gov.in/s326e359e83860db1d11b6acca57d8ea88/uploads/2018/08/2018083016-1024x512.jpg" alt="" style="width: 700px; height: 500px; margin: 40px auto;">
            <h4>HARE RAMA HARE KRISHNA</h4>
            <p>
            Then the officials took us to their office where we sat down and had tasty
            Curry Chawal . It is true that the temple lunch tastes much better than 
            the hotel lunch.
            </p>
            <h4>HARE RAMA HARE KRISHNA</h4>
            <p>
            After visiting the Iskon Temple , then we went to the Dharamshala which had 
            to be inaugurated. Then the Hawan was done. Then they served the Bhandara or 
            the lunch.After the lunch we went to the first floor. As all the rooms were 
            empty we two familes took some rest there. It was a very posh dharamshala 
            made fully with white marble.
            </p>
            <p>
            Night view of Iskcon Temple. This pic was from my earlier visit.
            After taking some rest , still some time was left we left for Mathura. 
            After reaching Mathura , we first went to Brijwasi Sweets (The most famous
            sweets shop there )to buy the famous Mathura Ke Pede.
            </p>
            <h4>MATHURA MARKET</h4>
            <p>
            Then we went to visit the Janam Bhumi of Kord Krishna.The temple is the 
            place where lord is said to have been born thousands of years ago.
            </p>
            <img src="https://images.unsplash.com/photo-1508589066756-c5dfb2cb7587?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWF0aHVyYSUyMG1hcmtldHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" style="width: 700px; height: 500px; margin: 40px auto;">
            <h4>JANAM BHUMI OF LORD KRISHNA</h4>
            <p>
            This temple has a very high security. No camera or mobile is allowed there
             inside. This temple has a prison cell.The prison cell,popularly known as 
             ‘Garbha Griha’, is the exact place where lord Krishna was born. The stone
              walled cell depicts the cruelty of King Kansa.
            </p>
            <p>
             As it was a hot afternoon , even our feet were burning . Also in the temple
             a tunnel or a gufa is made which depicts the whole journey of Lord Krishna. 
             All kids really like it.By this time it was evening , and we decided to start
              back our journey as by now we were really tired. This time we stopped at Hotel 
              Dubchick at Hodal for some evening snacks and tea time. These are the real ducks.
               They are so united , that when one turns all the other ducks start seeing in that 
               direction. Take a look 
            </p>
            <img src="https://cdn.s3waas.gov.in/s326e359e83860db1d11b6acca57d8ea88/uploads/2018/07/2018073059.jpg" alt="q" style="width: 700px; height: 500px; margin: 10px auto;">
            <h4>PREM MANDIR</h4>
            <p>This is a place which took us back to all mythological stories 
                associated with  Lord Krishna.I must say that we could spend 
                hours here provided we had enough time. Though we managed to get 
                in well before the gates were closed. ( We made the second visit 
                next Morning as well :) .This temple has been founded and shaped 
                by Jagadguru Shri Kripaluji Maharaj in the year 2001. Known as 
                "the temple of God's lovePrem Mandir is beautiful not only for 
                values depicted but for maintaining the essence of love propagated 
                by Lord Krishna. The temple campus is huge and spread across in acres 
                of land with eye catching and splendid depiction of Life events from 
                the life of Lord Krishna. Statues and large scale monuments coupled 
                with lush green garden and flowers keep you in awesome company. Idols 
                in the main temple are adorable and that's a sight and treat to eyes. 
                It is recommended that you visit during night to see the lovely campus 
                and fountain show. You got to be there before 8:30 PM as by that time 
                gates are closed.Not a place to skip if you are in Vrindavan! Must go 
                and indulge in Spiritual love.
            </p>
            <img src="https://images.unsplash.com/photo-1514930228629-e8a7034abd17?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJlbSUyMG1hbmRpcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="prem mandir" style="width: 700px; height: 500px; margin: 40px auto;">
            <h4>VISHRAM GHAT</h4>
            <p>The most prominent of the 25 ghats of Mathura, the Vishram Ghat on the 
                banks of Yamuna is believed to be the resting spot of Lord Krishna after he 
                killed his evil uncle Kansa. The best time to visit the ghat is during the 
                evening aarti when you can witness thousands of little oil lamps floating in 
                the river. Also, the panoramic view of the holy Yamuna against the backdrop of 
                the setting sun is bewitching!
            </p>
            <img src="/images/dance.JPG" alt="" style="width: 700px; height: 500px; margin: 40px auto;">
            <img src="/images/rowing.JPG" alt="" style="width: 700px; height: 900px; margin: 40px auto;">
            <h4>How to reach Mathura</h4>
            <p>Located in the heart of north India, Mathura is well connected to the major cities of Uttar Pradesh and the national capital by roadways, railways as well as airways.</p>
            <ul>
                <li>
                <p><b>BY AIR:</b>The closest airport is that of Agra which is 60 km from Mathura. Delhi’s Indira Gandhi International is at a distance of 170 km. You can easily rent a comfortable Savaari from Agra airport to Mathura and reach your destination within 90 minutes.</p>
                </li>
                <li>
                    <p><b>BY RAIL:</b>A number of interstate as well as intrastate trains ply to and from Mathura. The railway station is located at a distance of 2 km from the city centre. You can easily hire a car or an auto service from the station to your hotel.</p>
                </li>
                <li>
                    <p><b>BY ROAD:</b>Despite the excellent connectivity via the rail, the most preferred mode of transportation to Mathura by the people of Delhi is roadways, for the sheer convenience it provides. Besides, the 3-hour journey makes for a memorable road trip as the Yamuna Expressway is astoundingly picturesque! You can book a Delhi to Mathura cab and enjoy the journey with your loved ones.</p>
                </li>
            </ul>
            <h4>Things to do in Mathura</h4>
            <ul>
                <li>
                    <p>
                        While in Mathura, kachori, samosa and bedai, the city’s quintessential breakfast is a must try at any of the roadside food stalls.
                    </p>                
                </li>
                <li> 
                    <p>
                    As Lord Krishna was fond of butter and milk, Mathura is famous for its dairy products. Try Makhan Mishri, lassi and Peda from the confectioners near the Banke Bihari temple. Brijwasi Mithaiwala is known for their delicious laddoos.
                    </p>
                </li>
                <li>
                    <p>
                    Shop your knick-knacks and handicrafts which depict the tales from Lord Krishna’s life.
                    </p>
                </li>
                <li>
                    <p>
                    Purchase idols of clay, brass, silver and other materials for your home from Radha Madhav Shringar Kendra.
                    </p>
                </li>
                <li>
                    <p>
                     For an adventure packed day with family, visit the Dolphin World Water Park for its wide assortment of water and dry rides.   
                    </p>
                </li>
            </ul>
    </div>
</div>
<%-include("partials/footer")-%>